<!--Callouts-->

<div class="callout callout--primary">
    <div class="grid grid--cols-2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get started?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
                dolorem laborum consequatur quasi dolore ut aliquid omnis beatae
                cum assumenda numquam reprehenderit in sit quod sunt animi
                explicabo, iusto nulla.
            </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get started</a>
    </div>
</div>
