<!--Feature Block-->

<section class="block container">
    <header class="block__header">
        <h2>Host on the Clour to keep GROWING</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
            impedit!
        </p>
    </header>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary feature__icon">
                    <use xlink:href="public/assets/icons/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super easy to use</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
                dolorem laborum consequatur quasi dolore ut aliquid omnis beatae
                cum assumenda numquam reprehenderit in sit quod sunt animi
                explicabo, iusto nulla.
            </p>
            <a href="#" class="link link-arrow">Learn more</a>
        </div>
        <picture>
            <source
                type="image/webp"
                srcset="
                    public/assets/images/easy.webp    1x,
                    public/assets/images/easy@2x.webp,
                    2x
                "
            />
            <source
                type="image/jpg"
                srcset="
                    public/assets/images/easy.jpg    1x,
                    public/assets/images/easy@2x.jpg,
                    2x
                "
            />
            <img
                class="feature__image"
                src="public/assets/images/easy@2x.jpg"
                alt=""
            />
        </picture>
    </article>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary feature__icon">
                    <use xlink:href="public/assets/icons/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super easy to use</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
                dolorem laborum consequatur quasi dolore ut aliquid omnis beatae
                cum assumenda numquam reprehenderit in sit quod sunt animi
                explicabo, iusto nulla.
            </p>
            <a href="#" class="link link-arrow">Learn more</a>
        </div>
        <picture>
            <source
                type="image/webp"
                srcset="
                    public/assets/images/easy.webp    1x,
                    public/assets/images/easy@2x.webp,
                    2x
                "
            />
            <source
                type="image/jpg"
                srcset="
                    public/assets/images/easy.jpg    1x,
                    public/assets/images/easy@2x.jpg,
                    2x
                "
            />
            <img
                class="feature__image"
                src="public/assets/images/easy@2x.jpg"
                alt=""
            />
        </picture>
    </article>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary feature__icon">
                    <use xlink:href="public/assets/icons/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super easy to use</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
                dolorem laborum consequatur quasi dolore ut aliquid omnis beatae
                cum assumenda numquam reprehenderit in sit quod sunt animi
                explicabo, iusto nulla.
            </p>
            <a href="#" class="link link-arrow">Learn more</a>
        </div>
        <picture>
            <source
                type="image/webp"
                srcset="
                    public/assets/images/easy.webp    1x,
                    public/assets/images/easy@2x.webp,
                    2x
                "
            />
            <source
                type="image/jpg"
                srcset="
                    public/assets/images/easy.jpg    1x,
                    public/assets/images/easy@2x.jpg,
                    2x
                "
            />
            <img
                class="feature__image"
                src="public/assets/images/easy@2x.jpg"
                alt=""
            />
        </picture>
    </article>
    <article class="grid grid--cols-2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary feature__icon">
                    <use xlink:href="public/assets/icons/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super easy to use</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
                dolorem laborum consequatur quasi dolore ut aliquid omnis beatae
                cum assumenda numquam reprehenderit in sit quod sunt animi
                explicabo, iusto nulla.
            </p>
            <a href="#" class="link link-arrow">Learn more</a>
        </div>
        <picture>
            <source
                type="image/webp"
                srcset="
                    public/assets/images/easy.webp    1x,
                    public/assets/images/easy@2x.webp,
                    2x
                "
            />
            <source
                type="image/jpg"
                srcset="
                    public/assets/images/easy.jpg    1x,
                    public/assets/images/easy@2x.jpg,
                    2x
                "
            />
            <img
                class="feature__image"
                src="public/assets/images/easy@2x.jpg"
                alt=""
            />
        </picture>
    </article>
</section>
