<!--Media-->

<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="public/assets/icons/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start and Manage Updates</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
            nostrum omnis velit dolores aspernatur magni incidunt veniam vitae
            commodi! Quibusdam qui itaque nam animi voluptates voluptatibus quae
            possimus ipsa excepturi impedit atque culpa voluptate unde aliquid
            sapiente ea, perferendis laborum.
        </p>
    </div>
</div>
